.nav{
    background-color: rgba(5, 197, 197, 0.808);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;    
}

a{
    font-size: 16pt
}


.icon{
    height: 100%;

    width: auto;
}

.btn{
    width: 100%;
    height: 100%;
}


.btnzin{

    height: 100%;   
    
    
    
}