.nav{
    background-color: rgba(5, 197, 197, 0.808);
    width: 100vw;
    height: 64px;
    display: flex;
    align-items: flex-end;
    
}

a{
    font-size: 16pt
}

.btn{
    float: right;
    color: black;
}

.btnzin{
    background-color: black;
}