.card{
    width: 100%;
    padding: 2rem;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.918);
}

.form-cons{
    width: 60%;
    align-items: center;
}



.container-adm{
    width: 80%;
}

.fundo-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cadastrar-usuario h2 {
    font-size: 15pt;
    margin: 0;
    margin-bottom: 15px;
    color: aliceblue;
    margin-bottom: 2rem;
}

.input-cadastro {
    width: 50%;
    height: 35px;
    border: 0;
    border-radius: 7px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-bottom: 1px,rgba(5, 197, 197, 0.808), solid
}

.formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.select-credencial {
    width: 50%;
    height: 35px;
    border-radius: 7px;
    border: 0;
    margin-bottom: 25px;
    color: #696969;
}

.select-credencial option:hover {
    background-color: black
}

.botao-cadastrar {
    background-color: rgb(5, 197, 197);
    border-radius: 10px;
    color: black;
    width: 15rem;
    margin-top: 2rem;
}

.hora{
    border: 0;
    border-radius: 7px;
    outline: none;
    font-size: 12pt;
}