.fundo-consultas {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    align-content: center;
}

.container{
    width: 80%;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5rem;

}

body{
    background-color: rgb(19, 10, 143);
}